RingtoneSaver/SampleData/SampleDropboxLoginViewModel/SampleDropboxLoginViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDropboxLoginViewModel" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDropboxLoginViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDropboxLoginViewModel" type="tns:SampleDropboxLoginViewModel" />
  <xs:complexType name="SampleDropboxLoginViewModel">
    <xs:attribute name="Login" type="xs:string" />
    <xs:attribute name="Password" type="xs:string" />
    <xs:attribute name="IsBusy" type="xs:boolean" />
  </xs:complexType>
</xs:schema>